/* background */
.bg-light-gray {
  background-color: #e0e0e0;
  color: #374151;
}
.bg-dark-gray {
  background-color: #4a4a4a;
  color: #ffffff;
}

.bg-soft-black {
  background-color: #303030;
}

/* text */
.text-dark-gray {
  color: #4a4a4a;
}

.text-light-gray {
  color: #b0b0b0;
}

.text-soft-black {
  color: #303030;
}

/* nav */
.navbar .nav-link,
.navbar .navbar-brand {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #f3f4f6 !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  filter: invert(1);
}
