@import url("color.css");
@import url("banner.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #374151;
  background-color: #e0e0e0;
  margin-top: 56px;
  min-height: 100vh;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
main {
  min-height: 100vh;
}
